.xx {
    height: 50vh;
}

.catName {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
    width: 300px;
    padding: 1rem;
    margin: auto auto 0.8rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.20);
   }

.bottomSpace {
    height: 140px;
}

#catFace {
    width: 58px;
}

.addCat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #9FCC1D;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deleteCat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100vw;
    background-color: white;
}

#catFaceBigger {
    width: 220px;
}

.catImage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh;
    margin-bottom: 20px;
}
.catDetails {
    display: flex;
    justify-content: center;
    width: 350px;
}