.xx {
    height: 42%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.catName {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
    width: 300px;
    padding: 1rem;
    margin: auto auto 0.8rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.20);
   }

.bottomSpace {
    height: 140px;
}

#catFace {
    width: 58px;
}

.addCat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #9FCC1D;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deleteCat {
    display: flex;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100vw;
    background-color: white;
    border-top: 2px solid #9FCC1D;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.deleteCat:hover {
    background-color: red;
    color: white;
}

#catFaceBigger {
    width: 220px;
}

.catImage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh;
    margin-bottom: 20px;
}
.catDetails {
    display: flex;
    justify-content: flex-start;
    width: 340px;
    padding: 5px;
}

.container {
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom: 60px;
   }

.container::-webkit-scrollbar {
    width: 0; /* Breite der Scroll-Leiste */
}

.container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hintergrundfarbe des Scroll-Leisten-Griffs */
}

body.active-deleteConfirmation {
    overflow-y: hidden;
}

.deleteConfirmationPopup, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index: 999;
}

.deleteConfirmationPopup-content {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}


