.scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.container::-webkit-scrollbar {
    width: 0; /* Breite der Scroll-Leiste */
}

.container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hintergrundfarbe des Scroll-Leisten-Griffs */
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    bottom: 0;
    margin-left: -5%;
    width: 110%;
    height: 74px;
    border-radius: 30px 30px 0 0px;
    background-color: var(--darkerGreen);
}

.footer h4 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 13px;
    margin: 23px 0 2px 0;
}

.footer > button {
    border: 0;
    font-size: 1em;
    background-color: transparent;
    margin-left: 40px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 0;
    height: 71px;
    color: white;
    width: 80%;
    text-align: center;
    transition: font-size 0.3s ease;
}

.footer > button:hover {
    font-size: 1.1em;
    color: red;
}

.footer p {
    color: rgba(255, 255, 255, 0.60);
    height: 20px;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    padding-left: 61px;
}

.footer img {
    position: relative;
    left: 10%;
    bottom: 53px;
    width: 39px;
    height: 53px;
}


.addCat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #9FCC1D;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
}

.catHeader {
    display: grid;
    grid-template-columns: 20% 65%;
    align-items: center;
    gap: 2rem;
    width: 95%;
    margin: auto auto 1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.20);
}

#catFace {
    width: 58px;
    margin: 1em;
}

.bottomSpace {
    height: 140px;
}
