.topic {
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.inputTopic {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.inputTopic img {
    width: 187px;
    height: 187px;
    margin: auto;
}

.weiter {
    width: 100%;
    margin-bottom: 25px;
}

.save {
    margin-bottom: 0;
    width: 110%;
    height: 74px;
    border-radius: 30px 30px 0 0;
    background-color: var(--darkerGreen);
}

.save .thumbsUp {
    opacity: 0;
    position: absolute;
    margin-left: 5px;
    width: 46px;
    height: 62px;
    transition: opacity 0.2s ease-in-out;
}

.save:hover .thumbsUp {
    opacity: 1;
}

.save .text {
    opacity: 1;
}

.save:hover .text {
    opacity: 0;
}

.splitInput {
    display: grid;
    grid-template-columns: 35% 59%;
    margin-bottom: 7px;
    height: 65px;
    border: 1.5px solid var(--lighterGreen);
    border-radius: 17px;
    overflow: hidden;
    background-color: white;

    @media screen and (max-height: 600px) {
        height: 45px;
    }
}

.splitInput label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: var(--lighterGreen);
}

.splitInput input {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    border: 0;
}

.speech {
    font-size: 1.4em;
    padding: 8px;
    width: calc(100% - 16px); /* 100% width minus padding on both sides */
    height: calc(100% - 16px); /* 100% height minus padding on both sides */
    border: none;
    outline: none;
}

.nameinput {
    z-index: 2;
    width: 100%;
    margin: 10% auto auto;
}

.peakingCat {
    z-index: 1;
    position: fixed;
    top: 61%;
    left: -49px;
}

.peakingCat img {
    width: 180px;
}

