/* variables */
:root{
    --mainGreen: #87AD19;
    --darkerGreen: #698713;
    --catBrown: #9D6C3D;
    --catBeige: #E3D0B2;
    --catPink: #D8A89D;
}

/* reset */
p,a,ul,li,h1{
    margin: 1px;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base styles */

body {
    background: linear-gradient(180deg, #FFF 0%, #F5F5F5 27.08%);
    font-family: Hind, sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}


h1,h2{
    color: var(--darkerGreen);
    font-family: Montserrat, sans-serif;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

h3,h4{
    color: var(--darkerGreen);
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

p,a,li{
    color: var(--mainGreen);
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#pawcheck {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

/* mobile styles */
.topic {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: auto;
}

.peakingCat {
    position: fixed;
    top: 61%;
    left: -55px;
}

#peaking {
    width: 180px;
}

.topic p {
    padding-right: 10px;
}

.selection {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: auto;
}

.letsgo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: auto;
}

.weiter {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: auto;
}

.mainButton {
    border: 0;
    background-color: #87AD19;
    border-radius: 17px;
    width: 100%;
    height: 65px;
    font-family: Hind, sans-serif;
    color: white;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 7px;
    transition: transform 0.3s ease;
}

.mainButton:hover {
    transform: scale(0.9);
}

.secondaryButton {
    border: 0;
    background-color: transparent;
    border-radius: 17px;
    width: 100%;
    height: 65px;
    font-family: Hind, sans-serif;
    color: #87AD19;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: transform 0.3s ease;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 8%;
    z-index: 1000;
}

#menuPaw {
    width: 67px;
    height: 150px;
    margin-top: -25px;
}


/* fonts */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: 'Hind';
    src: url("./assets/Hind-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'HindBold';
    src: url("./assets/Hind-Bold.ttf") format("truetype");
}

