.speech {
    font-size: 1.4em;
    padding: 8px;
    width: calc(100% - 16px); /* 100% width minus padding on both sides */
    height: calc(100% - 16px); /* 100% height minus padding on both sides */
    border: none;
    outline: none;
}

.nameinput {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: auto;
}

#peakingCat {
    width: 174px;
    height: 134px;
}